@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');

/* Geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: white;
}

body {
    margin: 10rem;
    background: rgb(106,50,195);
    background: linear-gradient(325deg, rgba(106,50,195,1) 11%, rgba(79,23,167,1) 24%, rgba(63,5,154,1) 48%, rgba(106,50,195,1) 90%);
}

button {
    background-color: #7e4ccd;
    color: #6638af;
    border: 2px solid #6638af;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover {
    background-color: #6638af;
    color: white;
}

button:hover > i {
    color: white;
}

button i {
    color: rgb(224, 224, 224);
    font-weight: bold;
    pointer-events: none;
}

input, select, option {
    padding: .25rem .5rem;
    color: rgb(99, 99, 99) !important; 
}

.hide {
    display: none;
}


/* TODO HEADER */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #9667e0;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}


/* TODO FORM */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
    color: rgb(230, 230, 230);
}

#cancel-edit-btn:hover {
    color: white;
}


/* TODO TOOLBAR */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #ccc;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}


/* TODO LIST */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #5e379c;
}

.done h3 {
    color: white;
    text-decoration: line-through;
    font-style: italic;
}